<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name>hessionSer</display-name>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>hessian-service</servlet-name>

    <servlet-class>
      com.caucho.hessian.server.HessianServlet
    </servlet-class>

    <init-param>
      <param-name>home-class</param-name>
      <param-value>
        <!-- 服务实现类 -->
        org.lxg.frame.hessionSer.service.HelloApiServiceImpl
      </param-value>
    </init-param>

    <init-param>
      <param-name>home-api</param-name>
      <!-- 服务接口 -->
      <param-value>
        org.lxg.frame.hessionApi.api.HelloApi
      </param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>hessian-service</servlet-name>
    <url-pattern>/hessian</url-pattern>
  </servlet-mapping>

</web-app>